/* TODO Add all your css styling here */

.page-contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 70px auto;
}

.page-contents > #slider-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#card-container {
  width: 50%;
}

#input{
  margin-bottom: 5px;
}

#output {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  width: 1300px;
}

.button {
  justify-content: space-between;
  height:30px;
  width:200px;
}

