#container {
    align-items: center;
    gap: 1rem;
}

.light-background {
    padding: 0.3rem;
    border-radius: 10px;
    max-width: fit-content;
    background-color: lightblue;
    align-items: center;
}

.title {
    font-size: large;
    font-weight: 500;
}