body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;  
}

.flex {
  display: flex;
  flex-direction: column;
}

.align-center {
  justify-content: center;
}

.big-font {
  font-size: large;
}

.small-horizontal-padding {
  padding: 0 1em;
}

h1 {
  text-align: center;
}