body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F7F3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;  
}

.flex {
  display: flex;
  flex-direction: column;
}

.align-center {
  justify-content: center;
}

.big-font {
  font-size: large;
}

.small-horizontal-padding {
  padding: 0 1em;
}

h1 {
  text-align: center;
}

.small-vertical-margin {
  margin: 1rem 0;
}

input[type=number] {
  border: none;
  border-radius: 10px;
}

button, input[type=submit] {
  background-color: #EDDEA4;
  border: none;
  border-radius: 10px;
  margin: 0.3rem;
}

button:hover, input[type=submit]:hover {
  background-color: #eeda89;
}

/*
Randomly-generated color pallette that might look alright

Header -> #0FA3B1 ("Viridian Green")
Cards -> #B5E2FA ("Uranian Blue")
Background/Small details -> #F9F7F3 ("Baby Powder")

Unused:
#EDDEA4 ("Medium Champagne")
#F7A072 ("Atomic Tangerine") -> Maybe emphasized text?

*/