/*
    Dropdown.css

    Small stylings for the dropdown menu
*/

.dropdown-display {
    font-size: large;
    background-color: lightblue;
    padding: 0.2em;
    border-radius: 10px;
    width: 20rem;
}

.dropdown-display > .select-item:hover, .dropdown-display > .dropdown-select > div:hover {
    background-color: aliceblue;
}

.chosenItem {
    background-color: #B5E2FA;
}

/* Copied from Card.css. Consider merging into index.css. */
.dropdown-display > div > img {
    transition-duration: 200ms;
    margin-left: auto;
    max-height: 1.5em;
}
/* 
.dropdown-display > div > img:hover {
    margin-left: auto;
    max-height: 1em;
} */

.dropdown-display > div > img.down {
    transform: rotate(-90deg);
}
