.navbar {
    padding: 0.5rem 0;
}

.bg-light {
    background-color: #0FA3B1;
}

.full-width {
    width: 100%;
}

ul {
    width: fit-content;
}

li {
    margin-top: auto;
    margin-left: 1rem;
    list-style-type: none;
}

a {
    color: #EDDEA4;
    text-decoration: none;
}

a:hover {
    color: #ffdb4d;
}

.logo-title {
    color: #F7A072;
    font-weight: bold;
    font-size: x-large;
}